rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // デッキに関するルール
    // 認証済みのユーザーは、自分のuserIdを持つドキュメントのみ読み書きできる
    match /decks/{deckId} {
      // 読み取り、更新、削除: 既存ドキュメントのuserIdが自分のuidと一致する場合に許可
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      // 作成: 新しく作成するドキュメントのuserIdが自分のuidと一致する場合に許可
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;

      // カードに関するサブコレクションのルール
      match /cards/{cardId} {
        // 読み書き: 親のデッキの所有者(`get()`で親ドキュメントのデータを参照)と
        // ログインユーザーのIDが一致する場合のみ許可
        allow read, write: if request.auth != null && get(/databases/$(database)/documents/decks/$(deckId)).data.userId == request.auth.uid;
      }
    }
  }
}
